{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    {% if validlink %}

        <div class="container">
            <div class="row">
                <div class="col-4 mx-auto">
                    <div class="card">
                        <div class="card-header"><h3>Change Password</h3></div>
                        <div class="card-body">
                            <form action="" method="post">
                                {% csrf_token%}
                                {{ form|crispy }}
                                <button type="submit" class="btn btn-success">Change Password</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h2 class="text-danger">Invalid Link. try to reset page</h2>
    {% endif %}
{% endblock content %}

